body, .container{
    background-color: #24353F;
}
.container{
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
    padding: 10px 0px;
    
}
h1{
    color: #50A3B9;
}
.form-control {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    width: 100%;
    display: block;
   
}
.btn{
    width: 25%;
    background-color: transparent;
    color: #50A3B9;
    border: 1px solid #50A3B9;
    border-radius: 3px;
}
.btn:hover{
    background-color: #50A3B9;
    border: 1px solid #50A3B9;
    color: white;

}
.form-control:focus{
    border: 1px solid #50A3B9;
    background-color: transparent;
    color: white;
}

.form-control::placeholder{
color: white;
}